@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import "variables.less";

body, html {
  font-family: "Lato";
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  padding: 0px 30px 40px 30px;
  position: relative;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border: 20px solid rgba(0,0,0,1);
    border: 20px solid #333;
  }
}

.bio {
  width: 250px;
  position: fixed;
  text-align: center;
  color: #333;
  font-size: 14px;
  top: 30px;

  .bio-pic {
    height: 125px;
    width: 125px;
    display: inline-block;
    background: #eee no-repeat center;
    border-radius: 50%;
    margin-bottom: 20px;
    background-image: ~"url(images/adam-bio.png)";
    background-size: cover;
    position: relative;
  }

  .name {
    font-size: 33px;
    font-family: "Lato";
    margin: 0 auto 5px auto;
    padding: 0;
    position: relative;
    top: -8px;
    opacity: .55;

    &:after {
      position: absolute;
      bottom: 0px;
      width: 30%;
      left: 35%;
      border-bottom: solid 2px #DDD;
    }
  }

  .bio-text {
    p {
      opacity: .6;
      margin: 0 0 15px 0;
      padding: 0 20px;
      line-height: 18px;
    }

  }

  .info {
    margin-top: 60px;

    a {
      display: block;
      text-decoration: none;
      margin-bottom: 10px;
      color: #2683c4;
      margin: 0 auto 10px auto;
      opacity: .8;
      position: relative;
      margin-bottom: 26px;
      transition: opacity .1s ease-out;
      font-weight: 400;

      &:hover {
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        width: 40px;
        height: 1px;
        left: ~"calc(50% - 20px)";
        // right: 0;
        background: #DDD;
      }

      &:last-child:after {
        display: none;
      }

    }

    .main-cta {
      color: white;
      width: 100px;
      background: #2683c4;
      padding: 10px;
      margin-bottom: 15px;
      border-bottom: solid 2px #1969a1;

      &:hover {
        opacity: .9;
      }

    }

  }
}

.site-wrapper {
  width: 900px;
  overflow: auto;
  margin: 0 auto;
  position: relative;

  .photos {
    width: 600px;
    float: right;

    .photo {
      width: 100%;
      background: #efefef;
      margin-bottom: 40px;
      background-size: cover;

      img {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .landscape {
      background-image: ~"url(images/landscape.jpg)";
    }

    .portrait {

      background-image: ~"url(images/portrait.jpg)";
    }

  }

}

.animation-example {
  -webkit-animation-name: example;
  -webkit-animation-duration:  .4s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-delay: .5s;
}

@-webkit-keyframes example {
    0% {
        -webkit-transform: scale(1);

    }
    50%{
        -webkit-transform: scale(5);

    }
    100% {
        -webkit-transform: scale(1);
    }
}


@media only screen and (max-width: 900px) {

  body {
    padding: 0;
  }

  .site-wrapper {
    width: 90%;
    padding-top: 30px;

    .bio {
      width: 100%;
      position: static;
      text-align: center;
      color: #333;
      font-size: 14px;
      top: 30px;
      margin-bottom: 30px;


    }

    .bio-text {
      display: none;
    }

    .info {
      margin-top: 0px;

      a {
        display: inline;
        font-size: 12px;
        margin: 0 5px;

        &:after {
          display: none;
        }

      }
    }

    .photos {
      float: none;
      margin: 0 auto;
    }

  }



}